{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{% block body_content %}
    <div class="authors-testimonial">
          <div class="authors-container3">
            <h1 class="authors-text1">Авторы</h1>
            <span class="authors-text2">
              <span>
                Это сайт проект для сдачи предмета технологии программирования,
                но кто знает, что будет дальше
              </span>
            </span>
            <div class="authors-container4">
              <div
                class="
                  author-card-testimonial-card author-card-root-class-name2
                "
              >
                <div class="author-card-testimonial">
                  <span class="author-card-text">
                    <span>Артём Богословский</span>
                  </span>
                  <span class="author-card-text1">
                    <span>Дизайн и документация</span>
                  </span>
                </div>
              </div>
              <div
                class="author-card-testimonial-card author-card-root-class-name"
              >
                <div class="author-card-testimonial">
                  <span class="author-card-text">
                    <span>Александр Колупанов</span>
                  </span>
                  <span class="author-card-text1">
                    <span>Веб-программист</span>
                  </span>
                </div>
              </div>
              <div
                class="
                  author-card-testimonial-card author-card-root-class-name1
                "
              >
                <div class="author-card-testimonial">
                  <span class="author-card-text">
                    <span>Олег Швыденко</span>
                  </span>
                  <span class="author-card-text1">
                    <span>Программист</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
