{% extends "base.html" %}

{% block title %}Catalog{% endblock %}

{% block body_content %}
    <input
      type="text"
      placeholder="Введите название игры"
      class="catalog-textinput input"
    />
    <div class="catalog-container3">
      <button class="catalog-button1 button">Adventure</button>
      <button class="catalog-button2 button">FPS</button>
      <button class="catalog-button3 button">MOBA</button>
      <button class="catalog-button4 button">RPG</button>
      <button class="catalog-button5 button">Racing</button>
      <button class="catalog-button6 button">Strategy</button>
    </div>
    <button class="catalog-button7 button">
      Вместо поиска воспользуйтесь помощником
    </button>
    <div class="catalog-catalog">
      <h1 class="catalog-text1">Каталог</h1>
      <div class="catalog-container4">
        <div class="game-card-feature-card game-card-root-class-name">
          <img
            alt="image"
            src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
            class="game-card-image"
          />
          <h2 class="game-card-text"><span>Game name</span></h2>
        </div>
        <div class="game-card-feature-card game-card-root-class-name1">
          <img
            alt="image"
            src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
            class="game-card-image"
          />
          <h2 class="game-card-text"><span>Game name</span></h2>
        </div>
        <div class="game-card-feature-card game-card-root-class-name2">
          <img
            alt="image"
            src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
            class="game-card-image"
          />
          <h2 class="game-card-text"><span>Game name</span></h2>
        </div>
        <div class="game-card-feature-card game-card-root-class-name3">
          <img
            alt="image"
            src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
            class="game-card-image"
          />
          <h2 class="game-card-text"><span>Game name</span></h2>
        </div>
      </div>
    </div>
{% endblock %}