{% extends "base.html" %}

{% block title %}Catalog{% endblock %}

{% block body_content %}
    <input
      type="text"
      placeholder="Введите название игры"
      class="catalog-textinput input"
      id="searchbox"
    />
    <div class="catalog-container3">
          <button class="catalog-button button" id="game-genre">Adventure</button>
          <button class="catalog-button button" id="game-genre">FPS</button>
          <button class="catalog-button button" id="game-genre">MOBA</button>
          <button class="catalog-button button" id="game-genre">RPG</button>
          <button class="catalog-button button" id="game-genre">Racing</button>
          <button class="catalog-button button" id="game-genre">Strategy</button>
    </div>
    <a href="{{ url_for("helper") }}" class="catalog-navlink2 button">
          Вместо поиска воспользуйтесь помощником
    </a>
    <div class="catalog-catalog">
      <h1 class="catalog-text1">Каталог</h1>
      <div class="catalog-container4">
        {% for game in games %}
            <div class="game-card-feature-card">
                <div class="game-card-text"><span>{{ game.appid }}</span></div>
                <a href="{{ url_for("game_page", appid=game.appid) }}">
                    <img
                        alt="image"
                        src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
                        class="game-card-image"
                    />
                </a>
                <div class="game-card-text">
                    <span class="game-name">{{ game.name }}</span>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
    <script async src="{{ url_for('static', filename='js/simpleSearch.js') }}"></script>
{% endblock %}