{% extends "base.html" %}
{% from "game-genres-template.html" import print_game_genres_with_chekboxes %}

{% block title %}Catalog{% endblock %}

{% block body_content %}
    <input
      type="text"
      placeholder="Введите название игры"
      class="catalog-textinput input"
      id="searchbox"
      onkeyup="liveSearch()"
    />
    {{ print_game_genres_with_chekboxes(genres) }}
    <a href="{{ url_for("helper") }}" class="catalog-navlink2 button">
          Вместо поиска воспользуйтесь помощником
    </a>
    <div class="catalog-catalog">
      <h1 class="catalog-text1">Каталог</h1>
      <div class="catalog-container4">
      <!-- Games is a `Paginate` object -->
        {% for game in games.items %}
            <div class="game">
            <a href="{{ url_for("game_page", app_id=game.id) }}" style="width: min-content">
                <div class="game-card-feature-card">
                    <div class="game-card-text"><span>{{ game.id }}</span></div>
                    <img
                            alt="image"
                            {% if game.preview_url %}
                            src="{{ game.preview_url }}"
                            {% else %}
                            src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
                            {% endif %}
                            class="game-card-image"
                    />
                    <div class="game-card-text">
                        <span class="game-name">{{ game.name }}</span>
                    </div>
{#                    <div class="game-card-text">#}
{#                        <span class="game-name">{{ game.price }}</span>#}
{#                    </div>#}
{#                    <div class="game-card-text">#}
{#                        <span class="game-name">{{ game.players_count }}</span>#}
{#                    </div>#}
                    <div class="game-card-text">
                        <span class="game-name">{{ short(game.short_description, 100)|striptags}}</span>
                    </div>
                </div>
            </a>
            </div>
        {% endfor %}
      </div>
      <div class="pagination">
      {% set start = [1, games.page - 3] | max %}
      {% set end = [games.page + 3, games.pages] | min %}
      {% for page in range(start, end + 1) %}
          <div class="pagination-navlink button" style="display: inline-block">
          {% if page!=games.page %}
            <a href="{{ url_for('catalog', page=page) }}">{{ page }}</a>
          {% else %}
            {{ page }}
          {% endif %}
          </div>
      {% endfor %}
      </div>
    </div>
    <script async src="{{ url_for('static', filename='js/simpleSearch.js') }}"></script>
{% endblock %}