{% extends "base.html" %}

{% block title %}Helper{% endblock %}

{% block body_content %}
<h1 class="helper-text1">
  Выберете жанр, количество игроков и стоимость игры
</h1>
    <form class="helper-form" name="helper-form" action="{{ url_for("helper") }}" method="POST">
        <div class="helper-container3">
            <button class="helper-button button" name="game-genre">Adventure</button>
            <button class="helper-button1 button" name="game-genre">FPS</button>
            <button class="helper-button2 button" name="game-genre">MOBA</button>
            <button class="helper-button3 button" name="game-genre">RPG</button>
            <button class="helper-button4 button" name="game-genre">Racing</button>
            <button class="helper-button5 button" name="game-genre">Strategy</button>
        </div>
        <div class="helper-container4">
            <div class="helper-container5">
                <span class="helper-text2">Игроки</span>
                <select class="helper-select">
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4+">4+</option>
                </select>
            </div>
            <div class="helper-container6">
                <span class="helper-text3">Стоимость</span>
                <select class="helper-select1">
                    <option value="free" selected>Бесплатная</option>
                    <option value="cost">Платная</option>
                </select>
            </div>
        </div>
        <input class="home-navlink1 button" type="submit" onclick="searchForGames();" name="helper-search" value="Find my game" style="width: inherit">
        <div class="catalog-container4" id="search-results">
        {% for game in games %}
            <div class="game-card-feature-card">
                <div class="game-card-text"><span>{{ game.appid }}</span></div>
                <a href="{{ url_for("game_page", appid=game.appid) }}">
                    <img
                        alt="image"
                        src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
                        class="game-card-image"
                    />
                </a>
                <div class="game-card-text">
                    <span class="game-name">{{ game.name }}</span>
                </div>
            </div>
        {% endfor %}
      </div>
    </form>
{% endblock %}

<script>
    function searchForGames() {
        
    }
</script>