{% extends "base.html" %}
{% from "game-genres-template.html" import print_game_genres_with_chekboxes %}

{% block title %}Helper{% endblock %}

{% block body_content %}
<h1 class="helper-text1">
  Выберете жанр, количество игроков и стоимость игры
</h1>
    <form class="helper-form" name="helper-form" action="{{ url_for("helper") }}" method="GET">
        {{ print_game_genres_with_chekboxes(genres) }}
        <div class="helper-container4">
            <div class="helper-container5">
                <span class="helper-text2">Игроки</span>
                <select name="gamers" class="helper-select">
                    {% for i in range(max_players) %}
                    <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="helper-container6">
                <span class="helper-text3">Стоимость</span>
                <select name="cost" class="helper-select1">
                    <option value="0" selected>Бесплатная</option>
                    <option value="1">Платная</option>
                </select>
            </div>
        </div>
        <input class="home-navlink1 button" type="submit" onclick="searchForGames();" name="helper-search" value="Find my game" style="width: inherit">
    </form>
    <div class="catalog-catalog">
        <div class="catalog-container4">
            {#        {% if games | count != 0 %}#}
            {% for game in games %}
                <div class="game">
                    <a href="{{ url_for("game_page", app_id=game.id) }}" style="width: min-content">
                        <div class="game-card-feature-card">
                            <div class="game-card-text"><span>{{ game.id }}</span></div>
                            <img
                                    alt="image"
                                    {% if game.preview_url %}
                                    src="{{ game.preview_url }}"
                                    {% else %}
                                    src="{{ url_for("static", filename="img/empty-300w.jpg") }}"
                                    {% endif %}
                                    class="game-card-image"
                            />
                            <div class="game-card-text">
                                <span class="game-name">{{ game.name }}</span>
                            </div>
                            <div class="game-card-text">
                                <span class="game-name">{{ short(game.short_description, 100)|striptags }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {#        {% endif %}#}
        </div>
    </div>
{% endblock %}

<script>
    function searchForGames() {
        
    }
</script>