{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block body_content %}
    <form class="pass-change-form">
          <h1 class="pass-change-text1">Смена пароля</h1>
          <input
            type="text"
            placeholder="Старый пароль"
            class="pass-change-textinput input"
          />
          <input
            type="Новый пароль"
            placeholder="Пароль"
            class="pass-change-textinput1 input"
          />
          <button class="pass-change-button1 button">Сменить</button>
        </form>
{% endblock %}