{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body_content %}
   <form class="registration-form">
          <h1 class="registration-text1">Регистрация</h1>
          <input
            type="text"
            placeholder="Email"
            class="registration-textinput input"
          />
          <input
            type="text"
            placeholder="Логин"
            class="registration-textinput1 input"
          />
          <input
            type="text"
            placeholder="Пароль"
            class="registration-textinput2 input"
          />
          <button class="registration-button1 button">Продолжить</button>
        </form>
{% endblock %}