.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  font-style: normal;
  font-weight: 700;
}
.navigation-links-navlink1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  font-style: normal;
  font-weight: 700;
}
.navigation-links-navlink2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  font-style: normal;
  font-weight: 700;
}
.navigation-links-navlink3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  font-style: normal;
  font-weight: 700;
}


























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.game-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #C8CDF7;
}
.game-page-header {
  width: 100%;
  display: flex;
  max-width: 1920px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #7D8BF5;
}
.game-page-navlink {
  display: contents;
}
.game-page-text {
  text-decoration: none;
}
.game-page-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.game-page-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.game-page-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.game-page-navlink1 {
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  text-decoration: none;
}
.game-page-navlink1:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  background-color: #636ec2;
}
.game-page-burger-menu {
  display: none;
}
.game-page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.game-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.game-page-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.game-page-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.game-page-image {
  height: 2rem;
}
.game-page-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.game-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.game-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.game-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.game-page-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-content: center;
}
.game-page-image1 {
  width: 270px;
  height: 335px;
  margin-top: 0px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.game-page-video {
  width: 564px;
  height: 330px;
  align-self: center;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
}
.game-page-text1 {
  margin-top: var(--dl-space-space-unit);
}
.game-page-ul {
  width: 94px;
  padding-left: 0px;
}
.game-page-li {
  text-align: center;
}
.game-page-text2 {
  text-align: center;
}
.game-page-li1 {
  text-align: center;
}
.game-page-text3 {
  text-align: center;
}
.game-page-text4 {
  font-size: 24px;
}
.game-page-text5 {
  width: 500px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
.game-page-container4 {
  width: 220px;
  height: 109px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.game-page-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-left: 0px;
  flex-direction: column;
}
.game-page-text6 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.game-page-select {
  width: 181px;
  height: 24px;
  align-self: center;
  margin-top: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.game-page-button {
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.game-page-button:hover {
  color: #ffffff;
  background-color: var(--dl-color-my-back);
}
.game-page-text7 {
  align-self: center;
}
.game-page-icon10 {
  fill: var(--dl-color-my-3);
  width: 24px;
  height: 21px;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
}
.game-page-iframe {
  width: 600px;
  height: 200px;
  margin-bottom: var(--dl-space-space-sixunits);
}
.game-page-footer {
  width: 100%;
  display: flex;
  max-width: 1920px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #636EC2;
}
.game-page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.game-page-link {
  display: contents;
}
.game-page-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.game-page-icon12:hover {
  fill: #ffffff;
}
.game-page-link1 {
  display: contents;
}
.game-page-icon14 {
  fill: #000000;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.game-page-icon14:hover {
  fill: #ffffff;
}
.game-page-navlink2 {
  display: contents;
}
.game-page-icon16 {
  fill: #000000;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
.game-page-icon16:hover {
  fill: #ffffff;
}
@media(max-width: 991px) {
  .game-page-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .game-page-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .game-page-nav {
    display: none;
  }
  .game-page-btn-group {
    display: none;
  }
  .game-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .game-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .game-page-text8 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .game-page-header {
    padding: var(--dl-space-space-unit);
  }
  .game-page-mobile-menu {
    padding: 16px;
  }
  .game-page-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .game-page-text8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
