.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  font-style: normal;
  font-weight: 700;
}
.navigation-links-navlink1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  font-style: normal;
  font-weight: 700;
}
.navigation-links-navlink2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  font-style: normal;
  font-weight: 700;
}
.navigation-links-navlink3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  font-style: normal;
  font-weight: 700;
}


























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #C8CDF7;
}
.login-header {
  width: 100%;
  display: flex;
  max-width: 1920px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #7D8BF5;
}
.login-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.login-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.login-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-button {
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
}
.login-button:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  background-color: #636ec2;
}
.login-burger-menu {
  display: none;
}
.login-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.login-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.login-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.login-image {
  height: 2rem;
}
.login-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-form {
  width: 300px;
  height: 314px;
  position: relative;
  margin-top: 200px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 200px;
  background-color: rgba(125, 139, 245, 0.5);
}
.login-text1 {
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
.login-textinput {
  margin-top: var(--dl-space-space-twounits);
  margin-left: 40px;
  border-color: var(--dl-color-gray-700);
  margin-right: 40px;
}
.login-textinput1 {
  margin-top: var(--dl-space-space-twounits);
  margin-left: 40px;
  border-color: var(--dl-color-gray-700);
  margin-right: 40px;
}
.login-button1 {
  flex: 1;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  margin-left: 109px;
  border-color: var(--dl-color-gray-700);
  margin-right: 109px;
  margin-bottom: var(--dl-space-space-twounits);
}
.login-button1:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  background-color: var(--dl-color-my-2);
}
.login-text2 {
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-my-back);
}
.login-text2:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 700;
}
.login-footer {
  width: 100%;
  display: flex;
  max-width: 1920px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #636EC2;
}
.login-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-link {
  display: contents;
}
.login-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.login-icon10:hover {
  fill: #ffffff;
}
.login-link1 {
  display: contents;
}
.login-icon12 {
  fill: #000000;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.login-icon12:hover {
  fill: #ffffff;
}
.login-navlink {
  display: contents;
}
.login-icon14 {
  fill: #000000;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
.login-icon14:hover {
  fill: #ffffff;
}
@media(max-width: 991px) {
  .login-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-nav {
    display: none;
  }
  .login-btn-group {
    display: none;
  }
  .login-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-text3 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .login-header {
    padding: var(--dl-space-space-unit);
  }
  .login-mobile-menu {
    padding: 16px;
  }
  .login-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .login-text3 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
